<svelte:head>
  <title>About</title>
</svelte:head>

<div class="container">
  <h1>Table Schema to Markdown</h1>
  <p>
    You can give the schema URL in the URL like that:
    <a href={`/?url=${encodeURIComponent('https://git.opendatafrance.net/scdl/subventions/raw/master/schema.json')}`}>
      example
    </a>
  </p>
  <ul>
    <li>
      <a href="https://framagit.org/opendataschema/table-schema-to-markdown-web">Source code</a>
    </li>
  </ul>
</div>
