<script context="module">
  import qs from "qs"
  export async function preload(page, session) {
    const { url } = page.query

    if (url) {
      const query = qs.stringify({ url }, { addQueryPrefix: true })
      let response
      try {
        response = await this.fetch(`/api/fetch-schema${query}`)
      } catch (err) {
        console.error(err)
        return null
      }
      if (!response.ok) {
        return null
      }

      let schemaJson
      try {
        schemaJson = await response.json()
      } catch (err) {
        console.error(err)
        return null
      }

      return { schemaJson }
    }

    return null
  }
</script>

<script>
  import marked from "marked"

  import sampleSchema from "../sample-schema.json"

  export let schemaJson = sampleSchema
  export let locale = "fr" // TODO Allow customizing locale

  let schemaText = JSON.stringify(schemaJson, null, 2)
  let schemaTextError = null
  let markdown = null
  let html = null

  $: try {
    schemaJson = JSON.parse(schemaText)
    schemaTextError = null
  } catch (err) {
    schemaTextError = err
  }

  $: markdown = process.browser ? schemaToMarkdown(schemaJson) : Promise.resolve("")

  $: html = markdown.then(text => marked(text))

  async function schemaToMarkdown(schemaJson) {
    const response = await fetch("/api/compile", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ schema: schemaJson, locale })
    })
    if (!response.ok) {
      throw new Error("Error compiling Markdown")
    }
    return await response.text()
  }
</script>

<style>
  .columns {
    display: flex;
  }
  textarea {
    height: 100vh;
    width: 33%;
  }
  textarea.error {
    background-color: #fed7d7;
  }
  pre {
    margin: 0;
  }
  .html,
  .markdown {
    height: 100vh;
    margin-left: 1em;
    overflow: auto;
    width: 33%;
  }
</style>

<svelte:head>
  <title>Table Schema to Markdown</title>
</svelte:head>

<div class="columns">
  <textarea bind:value={schemaText} class:error={schemaTextError} />

  <pre class="markdown">
    {#await markdown}loading...{:then text}{text}{:catch err}{err.message}{/await}
  </pre>

  <div class="html">
    {#if html}
      {#await html}
        loading...
      {:then text}
        {@html text}
      {:catch err}
         {err.message}
      {/await}
    {/if}
  </div>

</div>
