body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	overflow-y: hidden;
}

code {
	background: #E2E8F0;
}

.container {
	max-width: 56em;
	padding: 2em;
}